# Validating measures

In [1]:
import pandas as pd
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt
import time

### Data Directory

In [2]:
INPUT_DIR = '../data/interim/'
OUTPUT_DIR = '../data/processed/'

### Reading predicted file

In [3]:
ip_file = INPUT_DIR + 'fd002_dbscan_results_1000_0.001.csv'
df_pred = pd.read_csv(ip_file, sep=',')

In [4]:
df_pred.head()

,setting1,setting2,setting3,meas01,meas02,meas03,meas04,meas05,meas06,meas07,...,meas15,meas16,meas17,meas18,meas19,meas20,meas21,unit,time_cycles,labels
0,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,8.00,194.64,...,9.3461,0.02,334,2223,100.00,14.73,8.8071,1,1,0
1,41.9982,0.8408,100.0,445.00,549.90,1353.22,1125.78,3.91,5.71,138.51,...,9.3774,0.02,330,2212,100.00,10.41,6.2665,1,2,1
2,24.9988,0.6218,60.0,462.54,537.31,1256.76,1047.45,7.05,9.02,175.71,...,10.8941,0.02,309,1915,84.93,14.08,8.6723,1,3,2
3,42.0077,0.8416,100.0,445.00,549.51,1354.03,1126.38,3.91,5.71,138.46,...,9.3528,0.02,329,2212,100.00,10.59,6.4701,1,4,1
4,25.0005,0.6203,60.0,462.54,537.07,1257.71,1047.93,7.05,9.03,175.05,...,10.8963,0.02,309,1915,84.93,14.13,8.5286,1,5,2

In [5]:
# Make everything in labels column into 0 or -1
df_pred['labels'] = df_pred['labels'].apply(lambda x: 0 if x >= 0 else -1)

### Generating Ground Truth with heuristics

In [6]:
timecycles_for_failure = 10

In [7]:
df_pred['ground_truth'] = 0

In [8]:
df_pred.head()

,setting1,setting2,setting3,meas01,meas02,meas03,meas04,meas05,meas06,meas07,...,meas16,meas17,meas18,meas19,meas20,meas21,unit,time_cycles,labels,ground_truth
0,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,8.00,194.64,...,0.02,334,2223,100.00,14.73,8.8071,1,1,0,0
1,41.9982,0.8408,100.0,445.00,549.90,1353.22,1125.78,3.91,5.71,138.51,...,0.02,330,2212,100.00,10.41,6.2665,1,2,0,0
2,24.9988,0.6218,60.0,462.54,537.31,1256.76,1047.45,7.05,9.02,175.71,...,0.02,309,1915,84.93,14.08,8.6723,1,3,0,0
3,42.0077,0.8416,100.0,445.00,549.51,1354.03,1126.38,3.91,5.71,138.46,...,0.02,329,2212,100.00,10.59,6.4701,1,4,0,0
4,25.0005,0.6203,60.0,462.54,537.07,1257.71,1047.93,7.05,9.03,175.05,...,0.02,309,1915,84.93,14.13,8.5286,1,5,0,0

In [9]:
units = np.unique(df_pred['unit'])

In [10]:
df_pred.loc[df_pred['unit'] == -1]

Empty DataFrame
Columns: [setting1, setting2, setting3, meas01, meas02, meas03, meas04, meas05, meas06, meas07, meas08, meas09, meas10, meas11, meas12, meas13, meas14, meas15, meas16, meas17, meas18, meas19, meas20, meas21, unit, time_cycles, labels, ground_truth]
Index: []

[0 rows x 28 columns]

In [11]:
# Assign outliers for the last 'n' time cycles for each of the unit

units = np.unique(df_pred['unit'])
# print('Number of unique units:', len(units))
for current_unit in units:
    df_sub = df_pred.loc[df_pred['unit'] == current_unit]
    max_timecycle = max(df_sub['time_cycles'])    
    outlier_time_threshold = max_timecycle - timecycles_for_failure
    
    # print('Unit=', current_unit, 'outlier threshold', outlier_time_threshold)
    
    df_pred['ground_truth'].loc[(df_pred['unit'] == current_unit) & (df_pred['time_cycles'] > outlier_time_threshold)] = -1

/Users/talat/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
print(df_pred[['unit', 'time_cycles', 'labels', 'ground_truth']].loc[df_pred['unit'] == 1])

     unit  time_cycles  labels  ground_truth
0       1            1       0             0
1       1            2       0             0
2       1            3       0             0
3       1            4       0             0
4       1            5       0             0
5       1            6       0             0
6       1            7       0             0
7       1            8       0             0
8       1            9       0             0
9       1           10       0             0
10      1           11       0             0
11      1           12       0             0
12      1           13       0             0
13      1           14       0             0
14      1           15       0             0
15      1           16       0             0
16      1           17       0             0
17      1           18       0             0
18      1           19       0             0
19      1           20       0             0
20      1           21       0             0
21      1           22       0             0
22      1           23       0             0
23      1           24       0             0
24      1           25       0             0
25      1           26       0             0
26      1           27       0             0
27      1           28       0             0
28      1           29       0             0
29      1           30       0             0
..    ...          ...     ...           ...
119     1          120       0             0
120     1          121       0             0
121     1          122       0             0
122     1          123       0             0
123     1          124       0             0
124     1          125       0             0
125     1          126       0             0
126     1          127       0             0
127     1          128      -1             0
128     1          129       0             0
129     1          130       0             0
130     1          131       0             0
131     1          132       0             0
132     1          133       0             0
133     1          134       0             0
134     1          135       0             0
135     1          136       0             0
136     1          137       0             0
137     1          138       0             0
138     1          139       0             0
139     1          140       0            -1
140     1          141       0            -1
141     1          142       0            -1
142     1          143       0            -1
143     1          144       0            -1
144     1          145       0            -1
145     1          146       0            -1
146     1          147       0            -1
147     1          148       0            -1
148     1          149       0            -1

[149 rows x 4 columns]

In [13]:
print('Number of outliers in the predicted values', len(df_pred.loc[df_pred['labels'] == -1]))
print('Number of outliers in the ground truth', len(df_pred.loc[df_pred['ground_truth'] == -1]))

Number of outliers in the predicted values 1052
Number of outliers in the ground truth 2600

In [14]:
# Copy into a new dataframe with only the required columns
df_scoring = df_pred[['unit', 'time_cycles', 'labels', 'ground_truth']].copy()

In [15]:
# tp = 0
# fp = 1
# fn = 2
# tn = 3

def gen_vals(ground_truth, pred_label, pos_label, neg_label):
    if (ground_truth == pos_label) & (pred_label == pos_label):
        return 0
    elif (ground_truth == neg_label) & (pred_label == pos_label):
        return 1
    elif (ground_truth == pos_label) & (pred_label == neg_label):
        return 2
    elif (ground_truth == neg_label) & (pred_label == neg_label):
        return 3

### Find out the f-measure

In [16]:
pos_label = -1
neg_label = 0

df_scoring['pos'] = -1

df_scoring['pos'] = df_scoring.apply(lambda x: gen_vals(x['ground_truth'], x['labels'], pos_label, neg_label), axis=1)

In [17]:
from collections import Counter
counter = Counter(df_scoring['pos'])

print(counter)

accuracy = (counter[0] + counter[3]) / (counter[0] + counter[1] + counter[2] + counter[3])
print('Accuracy = ', accuracy)

precision = counter[0] / (counter[0] + counter[1])
print('Precision = ', precision)

recall = counter[0] / (counter[0] + counter[2])
print('Recall = ', recall)

f1_score = 2 * (precision * recall) / (precision + recall)
print('F1 score: ', f1_score)

Counter({3: 50694, 2: 2013, 0: 587, 1: 465})
Accuracy =  0.9539053925854275
Precision =  0.5579847908745247
Recall =  0.22576923076923078
F1 score:  0.3214676889375684

# Making it into a function

In [18]:
def find_eval_metrics(df_pred, timecycles_for_failure):

    # Make everything in labels column into 0 or -1
    df_pred['labels'] = df_pred['labels'].apply(lambda x: 0 if x >= 0 else -1)
    
    df_pred['ground_truth'] = 0
    
    # Assign outliers for the last 'n' time cycles for each of the unit
    units = np.unique(df_pred['unit'])
    # print('Number of unique units:', len(units))
    for current_unit in units:
        df_sub = df_pred.loc[df_pred['unit'] == current_unit]
        max_timecycle = max(df_sub['time_cycles'])    
        outlier_time_threshold = max_timecycle - timecycles_for_failure

        # print('Unit=', current_unit, 'outlier threshold', outlier_time_threshold)

        df_pred['ground_truth'].loc[(df_pred['unit'] == current_unit) & (df_pred['time_cycles'] > outlier_time_threshold)] = -1
        
    # Copy into a new dataframe with only the required columns
    df_scoring = df_pred[['unit', 'time_cycles', 'labels', 'ground_truth']].copy()
    
    pos_label = -1
    neg_label = 0

    df_scoring['pos'] = -1
    df_scoring['pos'] = df_scoring.apply(lambda x: gen_vals(x['ground_truth'], x['labels'], pos_label, neg_label), axis=1)
    
    counter = Counter(df_scoring['pos'])

    accuracy = (counter[0] + counter[3]) / (counter[0] + counter[1] + counter[2] + counter[3])
    # print('Accuracy = ', accuracy)
    precision = counter[0] / (counter[0] + counter[1])
    # print('Precision = ', precision)
    recall = counter[0] / (counter[0] + counter[2])
    # print('Recall = ', recall)
    f1_score = 2 * (precision * recall) / (precision + recall)
    # print('F1 score: ', f1_score)
    
    return accuracy, precision, recall, f1_score

In [ ]:
import warnings
warnings.filterwarnings("ignore")

max_timecycles_for_failure = 40

print('| timecycles_for_failure|', 'accuracy', '|', 'precision', '|', 'recall', '|', 'f1_score', '|')
print('|--|--|--|--|--|')

for i in range(1, max_timecycles_for_failure+1):
    accuracy, precision, recall, f1_score = find_eval_metrics(df_pred, i)
    print('|', i, '|', accuracy, '|', precision, '|', recall, '|', f1_score, '|')

| timecycles_for_failure| accuracy | precision | recall | f1_score |
|--|--|--|--|--|
| 1 | 0.9785710299670752 | 0.07604562737642585 | 0.3076923076923077 | 0.12195121951219512 |
| 2 | 0.9763760486616194 | 0.1435361216730038 | 0.2903846153846154 | 0.19211195928753183 |
| 3 | 0.9739950519912944 | 0.20627376425855512 | 0.2782051282051282 | 0.2368995633187773 |
| 4 | 0.9715396491750219 | 0.2671102661596958 | 0.2701923076923077 | 0.26864244741873805 |
| 5 | 0.9690470432857754 | 0.3269961977186312 | 0.26461538461538464 | 0.29251700680272114 |
| 6 | 0.9661824066667907 | 0.3773764258555133 | 0.25448717948717947 | 0.30398162327718226 |
| 7 | 0.9634293792667274 | 0.4306083650190114 | 0.2489010989010989 | 0.3154596100278552 |
| 8 | 0.9604159303558474 | 0.47718631178707227 | 0.24134615384615385 | 0.3205619412515964 |
| 9 | 0.9573280752990198 | 0.5218631178707225 | 0.23461538461538461 | 0.32370283018867924 |
| 10 | 0.9539053925854275 | 0.5579847908745247 | 0.22576923076923078 | 0.3214676889375684 |
| 11 | 0.950371100652914 | 0.591254752851711 | 0.21748251748251748 | 0.3179959100204499 |
| 12 | 0.9469484179393218 | 0.6273764258555133 | 0.21153846153846154 | 0.31639501438159157 |
| 13 | 0.9433769229338343 | 0.6596958174904943 | 0.20532544378698225 | 0.3131768953068592 |
| 14 | 0.9396194125634777 | 0.6872623574144486 | 0.19862637362637361 | 0.30818414322250637 |
| 15 | 0.9359735114120427 | 0.717680608365019 | 0.1935897435897436 | 0.30492730210016156 |
| 16 | 0.9323276102606075 | 0.7480988593155894 | 0.1891826923076923 | 0.3019953952417498 |
| 17 | 0.9284956937443033 | 0.7737642585551331 | 0.18416289592760182 | 0.29751461988304095 |
| 18 | 0.9244033557171822 | 0.7927756653992395 | 0.1782051282051282 | 0.2909979064898814 |
| 19 | 0.9203110176900612 | 0.811787072243346 | 0.1728744939271255 | 0.28504672897196265 |
| 20 | 0.9162930858088878 | 0.8326996197718631 | 0.16846153846153847 | 0.2802303262955854 |
| 21 | 0.9122379508547406 | 0.8526615969581749 | 0.16428571428571428 | 0.2754914004914005 |
| 22 | 0.9081084097546457 | 0.870722433460076 | 0.16013986013986015 | 0.2705256940342587 |
| 23 | 0.9039044625086032 | 0.8868821292775665 | 0.1560200668896321 | 0.26535836177474403 |
| 24 | 0.899626109116613 | 0.9011406844106464 | 0.1519230769230769 | 0.26001097092704334 |
| 25 | 0.895310552651649 | 0.9144486692015209 | 0.148 | 0.2547669491525424 |