# Validating measures

In [1]:
import pandas as pd
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt
import time

### Data Directory

In [2]:
INPUT_DIR = '../data/interim/'
OUTPUT_DIR = '../data/processed/'

### Reading predicted file

In [3]:
ip_file = INPUT_DIR + 'fd004_dbscan_results_1450_0.001.csv'
df_pred = pd.read_csv(ip_file, sep=',')

In [4]:
df_pred.head()

,setting1,setting2,meas02,meas03,meas04,meas06,meas07,meas08,meas09,meas11,meas12,meas13,meas14,meas15,meas17,meas20,meas21,unit,time_cycles,labels
0,42.0049,0.8400,549.68,1343.43,1112.93,5.70,137.36,2211.86,8311.32,41.69,129.78,2387.99,8074.83,9.3335,330,10.62,6.3670,1,1,0
1,20.0020,0.7002,606.07,1477.61,1237.50,13.61,332.10,2323.66,8713.60,43.94,312.59,2387.73,8046.13,9.1913,361,24.37,14.6552,1,2,1
2,42.0038,0.8409,548.95,1343.12,1117.05,5.69,138.18,2211.92,8306.69,41.66,129.62,2387.97,8066.62,9.4007,329,10.48,6.4213,1,3,0
3,42.0000,0.8400,548.70,1341.24,1118.03,5.70,137.98,2211.88,8312.35,41.68,129.80,2388.02,8076.05,9.3369,328,10.54,6.4176,1,4,0
4,25.0063,0.6207,536.10,1255.23,1033.59,9.00,174.82,1915.22,7994.94,36.48,164.11,2028.08,7865.80,10.8366,305,14.03,8.6754,1,5,2

In [5]:
# Make everything in labels column into 0 or -1
df_pred['labels'] = df_pred['labels'].apply(lambda x: 0 if x >= 0 else -1)

### Generating Ground Truth with heuristics

In [6]:
timecycles_for_failure = 10

In [7]:
df_pred['ground_truth'] = 0

In [8]:
df_pred.head()

,setting1,setting2,meas02,meas03,meas04,meas06,meas07,meas08,meas09,meas11,...,meas13,meas14,meas15,meas17,meas20,meas21,unit,time_cycles,labels,ground_truth
0,42.0049,0.8400,549.68,1343.43,1112.93,5.70,137.36,2211.86,8311.32,41.69,...,2387.99,8074.83,9.3335,330,10.62,6.3670,1,1,0,0
1,20.0020,0.7002,606.07,1477.61,1237.50,13.61,332.10,2323.66,8713.60,43.94,...,2387.73,8046.13,9.1913,361,24.37,14.6552,1,2,0,0
2,42.0038,0.8409,548.95,1343.12,1117.05,5.69,138.18,2211.92,8306.69,41.66,...,2387.97,8066.62,9.4007,329,10.48,6.4213,1,3,0,0
3,42.0000,0.8400,548.70,1341.24,1118.03,5.70,137.98,2211.88,8312.35,41.68,...,2388.02,8076.05,9.3369,328,10.54,6.4176,1,4,0,0
4,25.0063,0.6207,536.10,1255.23,1033.59,9.00,174.82,1915.22,7994.94,36.48,...,2028.08,7865.80,10.8366,305,14.03,8.6754,1,5,0,0

In [9]:
units = np.unique(df_pred['unit'])

In [10]:
df_pred.loc[df_pred['unit'] == -1]

Empty DataFrame
Columns: [setting1, setting2, meas02, meas03, meas04, meas06, meas07, meas08, meas09, meas11, meas12, meas13, meas14, meas15, meas17, meas20, meas21, unit, time_cycles, labels, ground_truth]
Index: []

[0 rows x 21 columns]

In [11]:
# Assign outliers for the last 'n' time cycles for each of the unit

units = np.unique(df_pred['unit'])
# print('Number of unique units:', len(units))
for current_unit in units:
    df_sub = df_pred.loc[df_pred['unit'] == current_unit]
    max_timecycle = max(df_sub['time_cycles'])    
    outlier_time_threshold = max_timecycle - timecycles_for_failure
    
    # print('Unit=', current_unit, 'outlier threshold', outlier_time_threshold)
    
    df_pred['ground_truth'].loc[(df_pred['unit'] == current_unit) & (df_pred['time_cycles'] > outlier_time_threshold)] = -1

/Users/talat/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
print(df_pred[['unit', 'time_cycles', 'labels', 'ground_truth']].loc[df_pred['unit'] == 1])

     unit  time_cycles  labels  ground_truth
0       1            1       0             0
1       1            2       0             0
2       1            3       0             0
3       1            4       0             0
4       1            5       0             0
5       1            6       0             0
6       1            7       0             0
7       1            8       0             0
8       1            9       0             0
9       1           10       0             0
10      1           11       0             0
11      1           12       0             0
12      1           13       0             0
13      1           14       0             0
14      1           15       0             0
15      1           16       0             0
16      1           17       0             0
17      1           18       0             0
18      1           19       0             0
19      1           20       0             0
20      1           21       0             0
21      1           22       0             0
22      1           23       0             0
23      1           24       0             0
24      1           25       0             0
25      1           26       0             0
26      1           27       0             0
27      1           28       0             0
28      1           29       0             0
29      1           30       0             0
..    ...          ...     ...           ...
291     1          292       0             0
292     1          293       0             0
293     1          294       0             0
294     1          295       0             0
295     1          296       0             0
296     1          297       0             0
297     1          298       0             0
298     1          299       0             0
299     1          300       0             0
300     1          301       0             0
301     1          302       0             0
302     1          303       0             0
303     1          304       0             0
304     1          305       0             0
305     1          306       0             0
306     1          307       0             0
307     1          308       0             0
308     1          309       0             0
309     1          310       0             0
310     1          311       0             0
311     1          312       0            -1
312     1          313       0            -1
313     1          314       0            -1
314     1          315       0            -1
315     1          316       0            -1
316     1          317       0            -1
317     1          318       0            -1
318     1          319       0            -1
319     1          320       0            -1
320     1          321       0            -1

[321 rows x 4 columns]

In [13]:
print('Number of outliers in the predicted values', len(df_pred.loc[df_pred['labels'] == -1]))
print('Number of outliers in the ground truth', len(df_pred.loc[df_pred['ground_truth'] == -1]))

Number of outliers in the predicted values 1009
Number of outliers in the ground truth 2490

In [14]:
# Copy into a new dataframe with only the required columns
df_scoring = df_pred[['unit', 'time_cycles', 'labels', 'ground_truth']].copy()

In [15]:
# tp = 0
# fp = 1
# fn = 2
# tn = 3

def gen_vals(ground_truth, pred_label, pos_label, neg_label):
    if (ground_truth == pos_label) & (pred_label == pos_label):
        return 0
    elif (ground_truth == neg_label) & (pred_label == pos_label):
        return 1
    elif (ground_truth == pos_label) & (pred_label == neg_label):
        return 2
    elif (ground_truth == neg_label) & (pred_label == neg_label):
        return 3

### Find out the f-measure

In [16]:
pos_label = -1
neg_label = 0

df_scoring['pos'] = -1

df_scoring['pos'] = df_scoring.apply(lambda x: gen_vals(x['ground_truth'], x['labels'], pos_label, neg_label), axis=1)

In [17]:
from collections import Counter
counter = Counter(df_scoring['pos'])

print(counter)

accuracy = (counter[0] + counter[3]) / (counter[0] + counter[1] + counter[2] + counter[3])
print('Accuracy = ', accuracy)

precision = counter[0] / (counter[0] + counter[1])
print('Precision = ', precision)

recall = counter[0] / (counter[0] + counter[2])
print('Recall = ', recall)

f1_score = 2 * (precision * recall) / (precision + recall)
print('F1 score: ', f1_score)

Counter({3: 58465, 2: 1775, 0: 715, 1: 294})
Accuracy =  0.9662198566507209
Precision =  0.7086223984142715
Recall =  0.28714859437751006
F1 score:  0.4086881966276079

# Making it into a function

In [18]:
def find_eval_metrics(df_pred, timecycles_for_failure):

    # Make everything in labels column into 0 or -1
    df_pred['labels'] = df_pred['labels'].apply(lambda x: 0 if x >= 0 else -1)
    
    df_pred['ground_truth'] = 0
    
    # Assign outliers for the last 'n' time cycles for each of the unit
    units = np.unique(df_pred['unit'])
    # print('Number of unique units:', len(units))
    for current_unit in units:
        df_sub = df_pred.loc[df_pred['unit'] == current_unit]
        max_timecycle = max(df_sub['time_cycles'])    
        outlier_time_threshold = max_timecycle - timecycles_for_failure

        # print('Unit=', current_unit, 'outlier threshold', outlier_time_threshold)

        df_pred['ground_truth'].loc[(df_pred['unit'] == current_unit) & (df_pred['time_cycles'] > outlier_time_threshold)] = -1
        
    # Copy into a new dataframe with only the required columns
    df_scoring = df_pred[['unit', 'time_cycles', 'labels', 'ground_truth']].copy()
    
    pos_label = -1
    neg_label = 0

    df_scoring['pos'] = -1
    df_scoring['pos'] = df_scoring.apply(lambda x: gen_vals(x['ground_truth'], x['labels'], pos_label, neg_label), axis=1)
    
    counter = Counter(df_scoring['pos'])

    accuracy = (counter[0] + counter[3]) / (counter[0] + counter[1] + counter[2] + counter[3])
    # print('Accuracy = ', accuracy)
    precision = counter[0] / (counter[0] + counter[1])
    # print('Precision = ', precision)
    recall = counter[0] / (counter[0] + counter[2])
    # print('Recall = ', recall)
    f1_score = 2 * (precision * recall) / (precision + recall)
    # print('F1 score: ', f1_score)
    
    return accuracy, precision, recall, f1_score

In [19]:
import warnings
warnings.filterwarnings("ignore")

max_timecycles_for_failure = 40

print('| timecycles_for_failure|', 'accuracy', '|', 'precision', '|', 'recall', '|', 'f1_score', '|')
print('|--|--|--|--|--|')

for i in range(1, max_timecycles_for_failure+1):
    accuracy, precision, recall, f1_score = find_eval_metrics(df_pred, i)
    print('|', i, '|', accuracy, '|', precision, '|', recall, '|', f1_score, '|')

| timecycles_for_failure| accuracy | precision | recall | f1_score |
|--|--|--|--|--|
| 1 | 0.9828242093748469 | 0.10208126858275521 | 0.41365461847389556 | 0.16375198728139906 |
| 2 | 0.9824486930398864 | 0.21407333994053518 | 0.43373493975903615 | 0.28666224286662245 |
| 3 | 0.981191529657627 | 0.2993062438057483 | 0.4042838018741633 | 0.3439635535307517 |
| 4 | 0.980195595030123 | 0.3924677898909812 | 0.39759036144578314 | 0.3950124688279302 |
| 5 | 0.9782527061666313 | 0.4568880079286422 | 0.37028112449799194 | 0.4090505767524401 |
| 6 | 0.9761792029257621 | 0.5173439048562933 | 0.3493975903614458 | 0.4170994806232521 |
| 7 | 0.9743995820339924 | 0.5867195242814668 | 0.33964429145152036 | 0.43023255813953487 |
| 8 | 0.9719342356609904 | 0.6352824578790882 | 0.3217871485943775 | 0.4271909363545485 |
| 9 | 0.9691750069388888 | 0.6749256689791873 | 0.3038821954484605 | 0.41907692307692307 |
| 10 | 0.9662198566507209 | 0.7086223984142715 | 0.28714859437751006 | 0.4086881966276079 |
| 11 | 0.9632973599568972 | 0.7433102081268583 | 0.2738225629791895 | 0.400213447171825 |
| 12 | 0.9601462881026629 | 0.7710604558969276 | 0.2603748326639893 | 0.38929196897673257 |
| 13 | 0.9567666410880178 | 0.7918731417244796 | 0.2468334877973432 | 0.37635421573245403 |
| 14 | 0.9533869940733726 | 0.8126858275520317 | 0.23522662076878945 | 0.36484983314794217 |
| 15 | 0.9499420398700387 | 0.8315163528245788 | 0.2246318607764391 | 0.35370994940978084 |
| 16 | 0.9465297392610491 | 0.8513379583746283 | 0.21561244979919678 | 0.3440817144001602 |
| 17 | 0.9430521314633709 | 0.869177403369673 | 0.20718166784786204 | 0.3346051125524609 |
| 18 | 0.9395418700713482 | 0.8860257680872151 | 0.1994645247657296 | 0.3256237479511929 |
| 19 | 0.9357703799245702 | 0.8949454905847374 | 0.19086873811033608 | 0.3146341463414634 |
| 20 | 0.9320968505608255 | 0.9068384539147671 | 0.18373493975903615 | 0.30556019368842874 |
| 21 | 0.9282927068197032 | 0.9147670961347869 | 0.17651558615414037 | 0.29592818210965055 |
| 22 | 0.9245865238616141 | 0.9256689791873142 | 0.17050018254837532 | 0.28796053645753045 |
| 23 | 0.9207823801204917 | 0.933597621407334 | 0.1644840230487166 | 0.27969121140142517 |
| 24 | 0.9170108899737138 | 0.9425173439048563 | 0.15913654618473896 | 0.27229778095919827 |
| 25 | 0.9132067462325916 | 0.9504459861248761 | 0.1540562248995984 | 0.2651368537461985 |
| 26 | 0.9093046417084361 | 0.9554013875123885 | 0.14890330552981154 | 0.25765067486302284 |
| 27 | 0.9053372299955917 | 0.958374628344896 | 0.1438345976498587 | 0.25012933264355924 |
| 28 | 0.9014351254714362 | 0.9633300297324083 | 0.13941480206540446 | 0.24357849893497055 |
| 29 | 0.8975656745416252 | 0.9692765113974232 | 0.1354383049439136 | 0.23766707168894294 |
| 30 | 0.8935656092344365 | 0.9712586719524281 | 0.13119143239625167 | 0.23115933482722015 |
| 31 | 0.8895328903329034 | 0.9722497522299306 | 0.12708900116595415 | 0.22479376718606783 |
| 32 | 0.8855654786200591 | 0.9752229930624381 | 0.12349397590361445 | 0.21922691322268018 |
| 33 | 0.8815327597185261 | 0.9762140733399405 | 0.11987343312644518 | 0.21352698894428787 |
| 34 | 0.8775326944113373 | 0.9781962338949455 | 0.11658398299078668 | 0.20833773087071242 |
| 35 | 0.8734673219154598 | 0.9781962338949455 | 0.11325301204819277 | 0.2030028794734677 |
| 36 | 0.8694672566082712 | 0.9801783944499505 | 0.11033020972780008 | 0.19833550586583776 |
| 37 | 0.8654671913010825 | 0.9821605550049554 | 0.10756539672202323 | 0.1938955194678145 |
| 38 | 0.8614344723995494 | 0.9831516352824579 | 0.10484041428873388 | 0.18947569477604811 |
| 39 | 0.8573690999036719 | 0.9831516352824579 | 0.10215219853774071 | 0.18507462686567167 |
| 40 | 0.8533363810021388 | 0.9841427155599604 | 0.09969879518072289 | 0.18105570243413258 |