# Validating measures

In [1]:
import pandas as pd
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt
import time

### Data Directory

In [2]:
INPUT_DIR = '../data/interim/'
OUTPUT_DIR = '../data/processed/'

### Reading predicted file

In [3]:
ip_file = INPUT_DIR + 'fd003_dbscan_results_4000_0.001.csv'
df_pred = pd.read_csv(ip_file, sep=',')

In [4]:
df_pred.head()

,setting1,setting2,meas02,meas03,meas04,meas06,meas07,meas08,meas09,meas10,...,meas12,meas13,meas14,meas15,meas17,meas20,meas21,unit,time_cycles,labels
0,-0.0005,0.0004,642.36,1583.23,1396.84,21.61,553.97,2387.96,9062.17,1.3,...,522.31,2388.01,8145.32,8.4246,391,39.11,23.3537,1,1,0
1,0.0008,-0.0003,642.50,1584.69,1396.89,21.61,554.55,2388.00,9061.78,1.3,...,522.42,2388.03,8152.85,8.4403,392,38.99,23.4491,1,2,0
2,-0.0014,-0.0002,642.18,1582.35,1405.61,21.61,554.43,2388.03,9070.23,1.3,...,522.03,2388.00,8150.17,8.3901,391,38.85,23.3669,1,3,0
3,-0.0020,0.0001,642.92,1585.61,1392.27,21.61,555.21,2388.00,9064.57,1.3,...,522.49,2388.08,8146.56,8.3878,392,38.96,23.2951,1,4,0
4,0.0016,0.0000,641.68,1588.63,1397.65,21.61,554.74,2388.04,9076.14,1.3,...,522.58,2388.03,8147.80,8.3869,392,39.14,23.4583,1,5,0

In [5]:
# Make everything in labels column into 0 or -1
df_pred['labels'] = df_pred['labels'].apply(lambda x: 0 if x >= 0 else -1)

### Generating Ground Truth with heuristics

In [6]:
timecycles_for_failure = 10

In [7]:
df_pred['ground_truth'] = 0

In [8]:
df_pred.head()

,setting1,setting2,meas02,meas03,meas04,meas06,meas07,meas08,meas09,meas10,...,meas13,meas14,meas15,meas17,meas20,meas21,unit,time_cycles,labels,ground_truth
0,-0.0005,0.0004,642.36,1583.23,1396.84,21.61,553.97,2387.96,9062.17,1.3,...,2388.01,8145.32,8.4246,391,39.11,23.3537,1,1,0,0
1,0.0008,-0.0003,642.50,1584.69,1396.89,21.61,554.55,2388.00,9061.78,1.3,...,2388.03,8152.85,8.4403,392,38.99,23.4491,1,2,0,0
2,-0.0014,-0.0002,642.18,1582.35,1405.61,21.61,554.43,2388.03,9070.23,1.3,...,2388.00,8150.17,8.3901,391,38.85,23.3669,1,3,0,0
3,-0.0020,0.0001,642.92,1585.61,1392.27,21.61,555.21,2388.00,9064.57,1.3,...,2388.08,8146.56,8.3878,392,38.96,23.2951,1,4,0,0
4,0.0016,0.0000,641.68,1588.63,1397.65,21.61,554.74,2388.04,9076.14,1.3,...,2388.03,8147.80,8.3869,392,39.14,23.4583,1,5,0,0

In [9]:
units = np.unique(df_pred['unit'])

In [10]:
df_pred.loc[df_pred['unit'] == -1]

Empty DataFrame
Columns: [setting1, setting2, meas02, meas03, meas04, meas06, meas07, meas08, meas09, meas10, meas11, meas12, meas13, meas14, meas15, meas17, meas20, meas21, unit, time_cycles, labels, ground_truth]
Index: []

[0 rows x 22 columns]

In [11]:
# Assign outliers for the last 'n' time cycles for each of the unit

units = np.unique(df_pred['unit'])
# print('Number of unique units:', len(units))
for current_unit in units:
    df_sub = df_pred.loc[df_pred['unit'] == current_unit]
    max_timecycle = max(df_sub['time_cycles'])    
    outlier_time_threshold = max_timecycle - timecycles_for_failure
    
    # print('Unit=', current_unit, 'outlier threshold', outlier_time_threshold)
    
    df_pred['ground_truth'].loc[(df_pred['unit'] == current_unit) & (df_pred['time_cycles'] > outlier_time_threshold)] = -1

/Users/talat/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
print(df_pred[['unit', 'time_cycles', 'labels', 'ground_truth']].loc[df_pred['unit'] == 1])

     unit  time_cycles  labels  ground_truth
0       1            1       0             0
1       1            2       0             0
2       1            3       0             0
3       1            4       0             0
4       1            5       0             0
5       1            6       0             0
6       1            7       0             0
7       1            8       0             0
8       1            9       0             0
9       1           10       0             0
10      1           11       0             0
11      1           12       0             0
12      1           13       0             0
13      1           14       0             0
14      1           15       0             0
15      1           16       0             0
16      1           17       0             0
17      1           18       0             0
18      1           19       0             0
19      1           20       0             0
20      1           21       0             0
21      1           22       0             0
22      1           23       0             0
23      1           24       0             0
24      1           25       0             0
25      1           26       0             0
26      1           27       0             0
27      1           28       0             0
28      1           29       0             0
29      1           30       0             0
..    ...          ...     ...           ...
229     1          230       0             0
230     1          231       0             0
231     1          232       0             0
232     1          233       0             0
233     1          234       0             0
234     1          235       0             0
235     1          236       0             0
236     1          237       0             0
237     1          238       0             0
238     1          239       0             0
239     1          240       0             0
240     1          241       0             0
241     1          242       0             0
242     1          243       0             0
243     1          244       0             0
244     1          245       0             0
245     1          246       0             0
246     1          247       0             0
247     1          248       0             0
248     1          249       0             0
249     1          250       0            -1
250     1          251       0            -1
251     1          252       0            -1
252     1          253       0            -1
253     1          254       0            -1
254     1          255       0            -1
255     1          256       0            -1
256     1          257       0            -1
257     1          258      -1            -1
258     1          259      -1            -1

[259 rows x 4 columns]

In [13]:
print('Number of outliers in the predicted values', len(df_pred.loc[df_pred['labels'] == -1]))
print('Number of outliers in the ground truth', len(df_pred.loc[df_pred['ground_truth'] == -1]))

Number of outliers in the predicted values 1030
Number of outliers in the ground truth 1000

In [14]:
# Copy into a new dataframe with only the required columns
df_scoring = df_pred[['unit', 'time_cycles', 'labels', 'ground_truth']].copy()

In [15]:
# tp = 0
# fp = 1
# fn = 2
# tn = 3

def gen_vals(ground_truth, pred_label, pos_label, neg_label):
    if (ground_truth == pos_label) & (pred_label == pos_label):
        return 0
    elif (ground_truth == neg_label) & (pred_label == pos_label):
        return 1
    elif (ground_truth == pos_label) & (pred_label == neg_label):
        return 2
    elif (ground_truth == neg_label) & (pred_label == neg_label):
        return 3

### Find out the f-measure

In [16]:
pos_label = -1
neg_label = 0

df_scoring['pos'] = -1

df_scoring['pos'] = df_scoring.apply(lambda x: gen_vals(x['ground_truth'], x['labels'], pos_label, neg_label), axis=1)

In [17]:
from collections import Counter
counter = Counter(df_scoring['pos'])

print(counter)

accuracy = (counter[0] + counter[3]) / (counter[0] + counter[1] + counter[2] + counter[3])
print('Accuracy = ', accuracy)

precision = counter[0] / (counter[0] + counter[1])
print('Precision = ', precision)

recall = counter[0] / (counter[0] + counter[2])
print('Recall = ', recall)

f1_score = 2 * (precision * recall) / (precision + recall)
print('F1 score: ', f1_score)

Counter({3: 23363, 0: 673, 1: 357, 2: 327})
Accuracy =  0.9723300970873786
Precision =  0.6533980582524271
Recall =  0.673
F1 score:  0.6630541871921183

# Making it into a function

In [18]:
def find_eval_metrics(df_pred, timecycles_for_failure):

    # Make everything in labels column into 0 or -1
    df_pred['labels'] = df_pred['labels'].apply(lambda x: 0 if x >= 0 else -1)
    
    df_pred['ground_truth'] = 0
    
    # Assign outliers for the last 'n' time cycles for each of the unit
    units = np.unique(df_pred['unit'])
    # print('Number of unique units:', len(units))
    for current_unit in units:
        df_sub = df_pred.loc[df_pred['unit'] == current_unit]
        max_timecycle = max(df_sub['time_cycles'])    
        outlier_time_threshold = max_timecycle - timecycles_for_failure

        # print('Unit=', current_unit, 'outlier threshold', outlier_time_threshold)

        df_pred['ground_truth'].loc[(df_pred['unit'] == current_unit) & (df_pred['time_cycles'] > outlier_time_threshold)] = -1
        
    # Copy into a new dataframe with only the required columns
    df_scoring = df_pred[['unit', 'time_cycles', 'labels', 'ground_truth']].copy()
    
    pos_label = -1
    neg_label = 0

    df_scoring['pos'] = -1
    df_scoring['pos'] = df_scoring.apply(lambda x: gen_vals(x['ground_truth'], x['labels'], pos_label, neg_label), axis=1)
    
    counter = Counter(df_scoring['pos'])

    accuracy = (counter[0] + counter[3]) / (counter[0] + counter[1] + counter[2] + counter[3])
    # print('Accuracy = ', accuracy)
    precision = counter[0] / (counter[0] + counter[1])
    # print('Precision = ', precision)
    recall = counter[0] / (counter[0] + counter[2])
    # print('Recall = ', recall)
    f1_score = 2 * (precision * recall) / (precision + recall)
    # print('F1 score: ', f1_score)
    
    return accuracy, precision, recall, f1_score

In [19]:
import warnings
warnings.filterwarnings("ignore")

max_timecycles_for_failure = 40

print('| timecycles_for_failure|', 'accuracy', '|', 'precision', '|', 'recall', '|', 'f1_score', '|')
print('|--|--|--|--|--|')

for i in range(1, max_timecycles_for_failure+1):
    accuracy, precision, recall, f1_score = find_eval_metrics(df_pred, i)
    print('|', i, '|', accuracy, '|', precision, '|', recall, '|', f1_score, '|')

| timecycles_for_failure| accuracy | precision | recall | f1_score |
|--|--|--|--|--|
| 1 | 0.9615695792880259 | 0.08737864077669903 | 0.9 | 0.15929203539823011 |
| 2 | 0.9646440129449838 | 0.17281553398058253 | 0.89 | 0.28943089430894314 |
| 3 | 0.9673139158576052 | 0.25339805825242717 | 0.87 | 0.39248120300751876 |
| 4 | 0.9694983818770226 | 0.32815533980582523 | 0.845 | 0.4727272727272727 |
| 5 | 0.9715210355987055 | 0.4009708737864078 | 0.826 | 0.5398692810457516 |
| 6 | 0.972411003236246 | 0.4601941747572815 | 0.79 | 0.5815950920245399 |
| 7 | 0.9727346278317152 | 0.512621359223301 | 0.7542857142857143 | 0.6104046242774567 |
| 8 | 0.9726537216828479 | 0.5601941747572815 | 0.72125 | 0.6306010928961747 |
| 9 | 0.9728155339805825 | 0.6106796116504855 | 0.6988888888888889 | 0.6518134715025906 |
| 10 | 0.9723300970873786 | 0.6533980582524271 | 0.673 | 0.6630541871921183 |
| 11 | 0.9713592233009709 | 0.6902912621359223 | 0.6463636363636364 | 0.6676056338028169 |
| 12 | 0.9703074433656957 | 0.7262135922330097 | 0.6233333333333333 | 0.6708520179372197 |
| 13 | 0.9683656957928802 | 0.7514563106796116 | 0.5953846153846154 | 0.6643776824034335 |
| 14 | 0.9663430420711974 | 0.7757281553398059 | 0.5707142857142857 | 0.6576131687242799 |
| 15 | 0.9644822006472492 | 0.8019417475728156 | 0.5506666666666666 | 0.6529644268774702 |
| 16 | 0.9622168284789644 | 0.8233009708737864 | 0.53 | 0.6448669201520913 |
| 17 | 0.9596278317152104 | 0.8407766990291262 | 0.5094117647058823 | 0.6344322344322345 |
| 18 | 0.9572815533980582 | 0.8611650485436894 | 0.49277777777777776 | 0.6268551236749116 |
| 19 | 0.9545307443365696 | 0.8766990291262136 | 0.47526315789473683 | 0.6163822525597269 |
| 20 | 0.9515372168284789 | 0.8893203883495145 | 0.458 | 0.6046204620462046 |
| 21 | 0.9483818770226538 | 0.9 | 0.44142857142857145 | 0.592332268370607 |
| 22 | 0.9455501618122978 | 0.9145631067961165 | 0.42818181818181816 | 0.58328173374613 |
| 23 | 0.9427184466019417 | 0.929126213592233 | 0.4160869565217391 | 0.5747747747747748 |
| 24 | 0.9394012944983818 | 0.9378640776699029 | 0.4025 | 0.563265306122449 |
| 25 | 0.9359223300970874 | 0.9446601941747573 | 0.3892 | 0.5512747875354108 |
| 26 | 0.9322815533980583 | 0.9495145631067962 | 0.37615384615384617 | 0.5388429752066116 |
| 27 | 0.9287216828478965 | 0.9553398058252427 | 0.36444444444444446 | 0.5276139410187668 |
| 28 | 0.9250809061488673 | 0.9601941747572815 | 0.3532142857142857 | 0.5164490861618798 |
| 29 | 0.9214401294498382 | 0.9650485436893204 | 0.3427586206896552 | 0.505852417302799 |
| 30 | 0.917799352750809 | 0.9699029126213592 | 0.333 | 0.4957816377171217 |
| 31 | 0.9139967637540453 | 0.9728155339805825 | 0.3232258064516129 | 0.4852300242130751 |
| 32 | 0.9102750809061488 | 0.9766990291262136 | 0.314375 | 0.4756501182033097 |
| 33 | 0.9065533980582524 | 0.9805825242718447 | 0.30606060606060603 | 0.4665127020785219 |
| 34 | 0.9027508090614886 | 0.983495145631068 | 0.2979411764705882 | 0.4573363431151241 |
| 35 | 0.8988673139158576 | 0.9854368932038835 | 0.29 | 0.4481236203090507 |
| 36 | 0.8950647249190938 | 0.9883495145631068 | 0.2827777777777778 | 0.43974082073434123 |
| 37 | 0.8912621359223301 | 0.9912621359223301 | 0.27594594594594596 | 0.43171247357293874 |
| 38 | 0.8872977346278317 | 0.9922330097087378 | 0.26894736842105266 | 0.42318840579710143 |
| 39 | 0.8833333333333333 | 0.9932038834951457 | 0.2623076923076923 | 0.41501014198782965 |
| 40 | 0.8794498381877023 | 0.9951456310679612 | 0.25625 | 0.4075546719681909 |