## Data Processing

In [1]:
# Data = CMAPSSData
# Source = https://ti.arc.nasa.gov/tech/dash/groups/pcoe/prognostic-data-repository/
# Dataset = Turbofan Engine Degradation Simulation Data Set

In [2]:
# Data to be used - Train and Test data for 1

In [19]:
import pandas as pd
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt

### Notebook options

In [22]:
pd.set_option('display.max_colwidth', -1) # Column width
plt.rcParams['figure.figsize'] = [15, 10] # Size of the plots

### Data Directories

In [23]:
INPUT_DIR = '../data/raw/CMAPSSData/'
OUTPUT_DIR = '../data/interim/'

### Read the input data

In [33]:
input_file = INPUT_DIR + 'train_FD001.txt'
col_headers = ['unit', 'time_cycles', 'setting1', 'setting2', 'setting3', 
              'meas01', 'meas02', 'meas03', 'meas04', 'meas05', 'meas06', 'meas07', 'meas08', 'meas09', 'meas10', 
              'meas11', 'meas12', 'meas13', 'meas14', 'meas15', 'meas16', 'meas17', 'meas18', 'meas19', 'meas20', 
              'meas21', 'meas22', 'meas23', 'meas24', 'meas25', 'meas26']

df = pd.read_csv(input_file, header=None, sep=' ', names=col_headers)

In [34]:
df.head()

,unit,time_cycles,setting1,setting2,setting3,meas01,meas02,meas03,meas04,meas05,...,meas17,meas18,meas19,meas20,meas21,meas22,meas23,meas24,meas25,meas26
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,392,2388,100.0,39.06,23.4190,NaN,NaN,NaN,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,392,2388,100.0,39.00,23.4236,NaN,NaN,NaN,NaN,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,390,2388,100.0,38.95,23.3442,NaN,NaN,NaN,NaN,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,392,2388,100.0,38.88,23.3739,NaN,NaN,NaN,NaN,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,393,2388,100.0,38.90,23.4044,NaN,NaN,NaN,NaN,NaN

In [39]:
cols = ['unit', 'time_cycles', 'setting1', 'setting2', 'setting3']
df[cols].describe()

               unit   time_cycles      setting1      setting2  setting3
count  20631.000000  20631.000000  20631.000000  20631.000000  20631.0
mean   51.506568     108.807862   -0.000009      0.000002      100.0
std    29.227633     68.880990     0.002187      0.000293      0.0
min    1.000000      1.000000     -0.008700     -0.000600      100.0
25%    26.000000     52.000000    -0.001500     -0.000200      100.0
50%    52.000000     104.000000    0.000000      0.000000      100.0
75%    77.000000     156.000000    0.001500      0.000300      100.0
max    100.000000    362.000000    0.008700      0.000600      100.0

In [36]:
cols = ['meas01', 'meas02', 'meas03', 'meas04', 'meas05', 'meas06', 'meas07']
df[cols].describe()

,meas01,meas02,meas03,meas04,meas05,meas06,meas07
count,2.063100e+04,20631.000000,20631.000000,20631.000000,2.063100e+04,20631.000000,20631.000000
mean,5.186700e+02,642.680934,1590.523119,1408.933782,1.462000e+01,21.609803,553.367711
std,6.537152e-11,0.500053,6.131150,9.000605,3.394700e-12,0.001389,0.885092
min,5.186700e+02,641.210000,1571.040000,1382.250000,1.462000e+01,21.600000,549.850000
25%,5.186700e+02,642.325000,1586.260000,1402.360000,1.462000e+01,21.610000,552.810000
50%,5.186700e+02,642.640000,1590.100000,1408.040000,1.462000e+01,21.610000,553.440000
75%,5.186700e+02,643.000000,1594.380000,1414.555000,1.462000e+01,21.610000,554.010000
max,5.186700e+02,644.530000,1616.910000,1441.490000,1.462000e+01,21.610000,556.060000

In [37]:
cols = ['meas08', 'meas09', 'meas10', 'meas11', 'meas12', 'meas13', 'meas14']
df[cols].describe()

,meas08,meas09,meas10,meas11,meas12,meas13,meas14
count,20631.000000,20631.000000,2.063100e+04,20631.000000,20631.000000,20631.000000,20631.000000
mean,2388.096652,9065.242941,1.300000e+00,47.541168,521.413470,2388.096152,8143.752722
std,0.070985,22.082880,4.660829e-13,0.267087,0.737553,0.071919,19.076176
min,2387.900000,9021.730000,1.300000e+00,46.850000,518.690000,2387.880000,8099.940000
25%,2388.050000,9053.100000,1.300000e+00,47.350000,520.960000,2388.040000,8133.245000
50%,2388.090000,9060.660000,1.300000e+00,47.510000,521.480000,2388.090000,8140.540000
75%,2388.140000,9069.420000,1.300000e+00,47.700000,521.950000,2388.140000,8148.310000
max,2388.560000,9244.590000,1.300000e+00,48.530000,523.380000,2388.560000,8293.720000

In [38]:
cols = ['meas15', 'meas16', 'meas17', 'meas18', 'meas19', 'meas20', 'meas21']
df[cols].describe()

,meas15,meas16,meas17,meas18,meas19,meas20,meas21
count,20631.000000,2.063100e+04,20631.000000,20631.0,20631.0,20631.000000,20631.000000
mean,8.442146,3.000000e-02,393.210654,2388.0,100.0,38.816271,23.289705
std,0.037505,1.556432e-14,1.548763,0.0,0.0,0.180746,0.108251
min,8.324900,3.000000e-02,388.000000,2388.0,100.0,38.140000,22.894200
25%,8.414900,3.000000e-02,392.000000,2388.0,100.0,38.700000,23.221800
50%,8.438900,3.000000e-02,393.000000,2388.0,100.0,38.830000,23.297900
75%,8.465600,3.000000e-02,394.000000,2388.0,100.0,38.950000,23.366800
max,8.584800,3.000000e-02,400.000000,2388.0,100.0,39.430000,23.618400

In [42]:
df[['unit', 'time_cycles']].groupby('unit').count()

      time_cycles
unit
1     192
2     287
3     179
4     189
5     269
6     188
7     259
8     150
9     201
10    222
11    240
12    170
13    163
14    180
15    207
16    209
17    276
18    195
19    158
20    234
21    195
22    202
23    168
24    147
25    230
26    199
27    156
28    165
29    163
30    194
...   ...
71    208
72    213
73    213
74    166
75    229
76    210
77    154
78    231
79    199
80    185
81    240
82    214
83    293
84    267
85    188
86    278
87    178
88    213
89    217
90    154
91    135
92    341
93    155
94    258
95    283
96    336
97    202
98    156
99    185
100   200

[100 rows x 1 columns]